.contact-panel p {
	margin:0;
}

h1 {
	font-size: 32px;
}

footer a {
	font-size:14px;
}

.vertical-nav {
	margin: 40px 0 0 0;
}

#wechatModal {
	text-align:center;
}

#wechatModal img {
	width:212px;
}

@media only screen and (max-width: 40em) {
	.reveal-modal {
		min-height:0;
	}
}

.logo {
	height:40px;
}
